/* hace que todos los elementos que se encuentren dentro de las etiquetas 
   <html></html> hereden la propiedad box-sizing: border-box; 
   asignada en el elemento padre (<html></html>) */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Variables */
:root {
  --main-color: #b88b5c;
}

/* Estilos Globales */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 90rem;
  margin: 0 auto 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

/* header y nav principal */
.site-name {
  text-align: center;
  margin-top: 5rem;
}

.site-name span {
  color: var(--main-color);
}

.main-nav-container {
  border-top: 0.1rem solid #dedede;
}

.main-nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hero {
  background-image: url(../img/principal.jpg);
  height: 55rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*Lista de categorias*/
.categories {
  padding-top: 5rem;
}

.categories h2 {
  text-align: center;
}

.categories-list img {
  height: 20rem;
}

.categories-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.category a {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.category a:hover {
  color: #ffffff;
  background-color: var(--main-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/*Sobre Nosotros*/
@media (min-width: 1035px) {
  .about-us {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1035px) {
  .about-us {
    padding-top: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.about-us div {
  background-color: var(--main-color);
  padding: 2rem;
}

.about-us img {
  background-repeat: no-repeat;
  background-size: cover;
}
